.card-container {
    color: white;
    display: flex;
    flex-direction: column;
    background-color: hsl(217, 54%, 11%);
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
    padding: 2rem;
}

.card-attribute {
    display: flex;
    align-items: center;
    padding: 1em 0;
    border-top: 2px solid;
}

.small-avatar {
    width: 2em;
    border-radius: 200px;
    outline: 2px solid white;
    margin-right: 1.4em;
}
